<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
</div>

<p>
  Splurty was built by <a target="_blank" href="https://shelbyheard.netlify.com/">Shelby</a>, a web developer who is on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality.
</p>
<br />
<p>
  She has experience with HTML, CSS, and Ruby.
</p>
<p>
  If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
</p>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'me.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Shelby Heard</h2>
    <br />
    <p>
      Shelby Heard is an aspiring full-stack web developer. She is currently enrolled in the online coding bootcamp at Columbia Univeristy.
    </p>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />
